<div class="modal fade" id="confirmar">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
        <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h2 class="text-center" id="_titulo_confirmar_"></h2>
			</div>
			<div class="modal-body">
				<div id="_error_programar_servicio_"></div>
        <div id="_error_campos_"></div>
				<div id="_error_marcadores_"></div>
				<div id="_detalles_"></div>
				<div class="hidden" id="_detalle_servicio_">
					<div class="table-responsive">
						<table class="table table-bordered table-hover table-condensed">
							<tr class="">
								<th style="width:80%;">Distancia</th>
								<td id="_distancia_"></td>
							</tr>
							<tr class="">
								<th>Tarifa Base</th>
								<td id="_tarifa_base_"></td>
							</tr>
							<tr class="">
								<th>Recargo Distancia</th>
								<td id="_recargo_distancia_"></td>
							</tr>
							<tr class="">
								<th>Recargo Paradas</th>
								<td id="_recargo_paradas_"></td>
							</tr>
							<tr class="">
								<th>Recargo Ida y Vuelta</th>
								<td id="_recargo_ida_vuelta_"></td>
							</tr>
						  <tr>
						  	<th colspan="2">
						  		<hr>
						  	</th>
						  </tr>
							<tr class="">
								<th>Valor Total</th>
								<td id="_valor_total_"></td>
							</tr>
							<tr class="">
								<th>Descuento</th>
								<td id="_descuento_"></td>
							</tr>
							<tr class="">
								<th>Total a Pagar</th>
								<td id="_Total_pagar_"></td>
							</tr>
						</table>
					</div>

				</div>
			</div>
			<div class="modal-footer">
				<div id="_solicitar_servicio_"></div>
				<button type="button" class="btn btn-default btn-block" data-dismiss="modal" style="margin-top:10px;"><span class="glyphicon glyphicon-remove"></span> Cerrar</button>
			</div>
		</div>
	</div>
</div>
